BODY		{ font: Verdana,Arial,sans-serif; }
H1		{ font: bold 140% Verdana,sans-serif; color: blue; }
H2		{ font: bold 120% Verdana,sans-serif; color: blue; }
H3		{ font: bold 100% Verdana,sans-serif; color: blue; }
