/* AlwaysWork style sheet copyright RichInStyle.com 2000. You can download this from http://richinstyle.com/free/alwayswork.html. You must not remove or alter this message from this file. */

BODY ADDRESS, BODY BLOCKQUOTE, HTML BODY, BODY CAPTION, BODY CENTER, BODY DD, BODY DIR, BODY DIV, BODY DL, BODY DT, BODY FORM, BODY LI, BODY MENU, BODY OL, BODY P, BODY PRE, BODY TD, BODY TH, BODY TR, BODY UL {font-size: 1em}

BODY ADDRESS {line-height: 1.3;
margin: .6em 0}

BODY BIG {font-size: .85em}

BODY BLOCKQUOTE {margin-top: .75em;
line-height: 1.5;
margin-bottom: .75em}

HTML BODY {margin: 1em 8% 1em 10%;
line-height: 1.5}

BODY CODE, BODY KBD, BODY SAMP, BODY TT {font-size: .9em}

BODY DD {line-height: 1.2;
margin: 0 0 0 5%}

BODY DIV {margin: 0}

BODY DL {margin: .8em 0}

BODY DT {margin: .3em 0 0 0;
line-height: 1.2}

BODY FORM {margin: .6em 0}

BODY H1 {margin: .8em 0 0 -4%;
line-height: 1.3;
font-size: 1.75em}

BODY H2 {margin: .8em 0 0 -4%;
line-height: 1.3;
font-size: 1.75em}

BODY H3 {margin: .8em 0 0 -3%;
line-height: 1.3;
font-size: 1.52em}

BODY H4 {margin: .8em 0 0 -3%;
line-height: 1.3;
font-size: 1.33em}

BODY H5 {margin: .8em 0 0 -2%;
line-height: 1.3;
font-size: 1.15em}

BODY H6 {margin: .8em 0 0 -1%;
line-height: 1.3;
font-size: 1em}

BODY HR {margin: .6em}

BODY LI {margin: .6em 0}

BODY OL {margin: 0 0 0 5%;
line-height: 1.5}

BODY P {margin: .6em 0;
line-height: 1.5}

BODY PRE {margin: .75em 0;
line-height: 1.2;
font-size: 1em}

BODY SMALL {font-size: .85em}

BODY SUB {font-size: .85em}

BODY SUP {font-size: .85em}

BODY TD {line-height: 1.3}

BODY TH {line-height: 1.3}

BODY UL, BODY DIR, BODY MENU {margin: 0 0 0 5%;
line-height: 1.5}

HTML {margin: 0; 
padding: 0}

/* Remove the below to remove the background from PREformatted text */

BODY PRE {background: #ddd}

/* Uncomment the below to remove the outdent from headings */

/* 
BODY H1, BODY H2, BODY H3, BODY H4, BODY H5, BODY H6 {margin-left: 0} 
*/